/*.recipeTable {
  text-align: center;
  display: inline-block;
  float: none;
}*/

body {
  font-size: 25px;
}

#title {
  font-size: 50px;
}

#tableBody {
  background-image: url('../images/ricepaper_v3.png');
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
}

td {
  background-image: url('../images/ricepaper_v3.png');
}

/*h2 {
  text-decoration: underline;
}*/

tr {
  border-bottom: 1px solid black;
}

.table-barStyle {
  display: inline-block;
  float: none;
}
